plugins:
  - jekyll-optional-front-matter

collections:
  examples:
    output: true

kramdown:
  parse_block_html: true
  syntax_highlighter: rouge

highlighter: rouge

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
