body {
  .markdown-body, main {
    position: relative;

    /* hide github h1 */
    h1:first-of-type {
      display: none;
    }

    h2 {
      position: sticky;
      top: 0;
      background: white;
    }

    a {
      text-underline-offset: .2em;
      &.anchorjs-link {
        text-decoration: none;
      }
    }

    ul {
      padding-left: 1.5ch;
    }
  }
}
